@using Shop_Тепляков.Data.Models
@model Shop_Тепляков.Data.Models.Items
@{
    Layout = "_Layout";
}
<h2>Изменение товара</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        Наименование:
        <br /><input name="Name" value="@Model.Name" />
    </div>
    <div>
        Описание:
        <br /><input name="Description" value="@Model.Description" />
    </div>
    <div>
        <label for="file">Изображение</label>
        <br /><input name="ImageFile" type="file" />
    </div>
    <div>
        Стоимость:
        <br /><input name="Price" value="@Model.Price" />
    </div>
    <div>
        Категория:
        <br /><select name="idCategory">
            @{
                foreach (var Category in ViewBag.Categories)
                {
                    <option value="@Category.Id" @(Category.Id == Model.Category.Id ? "selected" : "")>@Category.Name</option>
                }
            }
        </select>
    </div>
    <input type="submit" value="Сохранить" />
</form>