@using Shop_Тепляков.Data.ViewModell
@model VMItems

@{
    Layout = "_Layout";
}
<div>
    <select onchange="SelectCategory(this)">
        <option value="0">Выбрать...</option>
        @{
            foreach(var Category in Model.Categorys)
            {
                if(Category.Id == Model.SelectCategory)
                {
                        <option selected="selected" value="@Category.Id">@Category.Name</option>
                }
                else
                {
                        <option value="@Category.Id">@Category.Name</option>
                }
            }
        }
    </select>
    <select id="sortedBy" onchange="SortByPrice(this)">
        <option value="0">Выбрать ...</option>
        <option value="asc" <%=(Request.QueryString["sortBy"] == "asc") ? "selected" : ""></%>По возрастанию цены</option>
        <option value="desc" <%=(Request.QueryString["sortBy"] == "desc") ? "selected" : ""></%>По убыванию цены</option>
    </select>
    <script>
        function saveSortBy(value) {
            localStorage.setItem('sortBy', value);
        }
        function SelectCategory(sender) {
            window.location = "/Items/List?id=" + sender.value;
        }
        window.onload = function () {
            var sortBy = localStorage.getItem('sortBy');
            if (sortBy) {
                document.getElementById('sortedBy').value = sortBy;
            }
        }
        function SortByPrice(sender) {
            var SortBy = sender.value;
            saveSortBy(SortBy);
            window.location = "/Items/List?sortBy=" + SortBy;
        }
    </script>
    <button onclick="AddItem()">Добавить</button>
    <script>
        function AddItem() {
            window.location = "/Items/Add";
        }
    </script>
</div>

<h2>Все предметы</h2>
@{
    @foreach (var item in Model.Items)
    {
            <div class="item">
                <img src="@item.Img" />
                <div class="data">
                    <h3>Модель: @item.Name</h3>
                    <p>Цена: @item.Price.ToString("c")</p>
                    <p>Категория: @item.Category.Name</p>
                    <div>Описание: @item.Description</div>
                </div>
                <form class="redac" method="post">
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="hidden" name="name" value="@item.Name" />
                    <input type="hidden" name="description" value="@item.Description" />
                    <input type="hidden" name="img" value="@item.Img" />
                    <input type="hidden" name="price" value="@item.Price" />
                    <input type="hidden" name="idCategory" value="@item.Category" />
                    <a href="/Items/Edit?id=@item.Id">Изменить</a>
                </form>
                <form class="delete" method="post" action="/Items/Delete">
                    <input type="hidden" name="itemId" value="@item.Id" />
                    <input type="submit" value="Удалить" onclick="DeleteItem()"/>
                </form>
                <script>
                    function DeleteItem() {
                        alert("Товар удален!");
                    }
                </script>
            </div>
    }
}